/*IMAGES ==================================================================*/

.avatar {
    margin-bottom: 1.5rem;
}

.photo-user {
    clip-path: circle();
}

.selo-rocketseat {
    position: absolute;
    z-index: 1;
}